/* Smartphones iPhone 12 */
@media (max-width: 767px) {
  /* Header */
  #header {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
  }

  #header p {
    font-size: 78%;
    margin: 10px 0 20px 0;
  }

  a {
    color: #9370db;
    text-decoration: none;
  }

  /* Table */
  #table,
  #table thead,
  #table thead tr,
  #table thead tr th,
  #table tbody,
  #table tbody tr,
  #table tbody tr th,
  #table tbody tr th code,
  #table tbody tr td,
  #table tbody td input {
    display: block;
    width: 100%;
    text-align: center;
  }

  .git-category {
    background-color: #efefef;
  }

  .git-command {
    font-size: 1rem;
    background-color: #9370db;
    color: aliceblue;
    border-radius: 20px;
  }

  .git-explain {
    font-size: 0.9rem;
    padding-top: 10px;
  }

  .copy-btn input {
    max-width: 20%;
    border: none;
    margin: auto;
    background-color: white;
    padding-bottom: 10px;
    color: #9370db;
    font-weight: bold;
    cursor: pointer;
  }

  /* Footer */
  footer p {
    font-size: 0.88rem;
    margin: 0;
    padding: 10px 0 30px 0;
  }
}

/* Tablet iPad */
@media (min-width: 768px) and (max-width: 1023px) {
  /* Header */
  #header {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
  }

  a {
    color: #007bff;
    text-decoration: none;
  }

  /* Table */
  .git-command {
    font-size: 0.73rem;
    color: #007bff;
  }

  .git-explain {
    font-size: 0.82rem;
  }

  .copy-btn input {
    background-color: #007bff;
    color: #efefef;
    border: none;
  }

  /* Footer */
  footer p {
    font-size: 0.88rem;
    margin: 0;
    padding: 10px 0 30px 0;
  }
}
